@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    /*background-color: rgb(0, 3, 14);*/
    background-color: black;
    color: white;
}



footer {
    background-color: rgb(7, 7, 7);
    margin-top: 10rem;
    padding-bottom: 1rem;
    /*background-color: rgb(0, 3, 14);*/
}

.header {
    color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-top: 1rem;
    
}

header {
    background-color: rgb(15, 15, 15);
    margin-top: -1rem;
}

.support-site {
    color: white;   
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
}

#support {
    font-size: 1rem;
}

#openo1 {
    width: 150px;
}

#logo {
    width: 100px;
}

.transform {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: white;
    transition: 0.2s;
    
}
.transform:hover {
    transform: scale(1.1);
} 

#title {
    cursor: pointer;
}

#poster {
    width: 40rem;
    /*height: 800px;*/
}

.container-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin: 5rem 2rem 2rem 5rem;
    gap: 5rem;
}
#text{
    word-break: break-all;
    font-size: 1.3rem;
}

body::-webkit-scrollbar
{
    width: 0.45rem;
}
body::-webkit-scrollbar-track
{
    background: black;
}
body::-webkit-scrollbar-thumb
{
    background: #090909;
}

#sub-text{
    word-break: break-all;
    font-size: 1.5rem;
    width: 50%;
}

section {
    background-color: rgb(1, 0, 5);
    margin-top: 25rem;
    
}

#portrait {
    border-radius: 100px;
}

.container-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25rem;
}

#apollo {
    color: white;
    transition: 0.2s;
}
#apollo:hover {
    transform: scale(1.1);
}
#button {
    font-weight: bold;
    margin-top: 1.5rem;
    text-align: center;
}
.line {
    border: 1px solid white;
    width: 27rem;
    transition: 0.2s;
}

.knowledge {
    margin-top: -20rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#about {
    font-size: 1rem;
}

.more-footer {
    opacity: 0.1;
    margin-top: 3rem;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}