@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    font-size: 16px
}
* {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
#nav-bar, ul, li{
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-content: space-around;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    transition: 0.2s;
    margin-bottom: 3rem;
}
li:hover {
    transform: scale(1.1);
}
.poster-section, .women-section {
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}
#description {
    text-align: center;
    margin-bottom: 10rem;
    margin-left: 5%;
    margin-right: 5%;
    word-break: keep-all;
    font-size: 0.8rem;
    line-height: 1.5rem;
}
#poster {
    max-width: 100%;
}
#name {
    color: goldenrod;
}
#ilg {
    border: 2px solid goldenrod;
}
#spacemission {
    margin-top: 1rem;
    text-align: justify;
    font-size: 0.8rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5rem;
    word-break: keep-all;
}
#presentation-title {
    margin-top: 10rem;
    margin-bottom: 1rem;
}
.line {
    border: 1px solid white;
    border-radius: 100%;
    width: 80%;
    margin-bottom: 25rem;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}